
/* header */
nav {
  box-shadow: none;
}
.brand-logo {
  background: url('../img/LaBodegaDePacho_Logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 192px;
}
.nav-wrapper span i {
  fill: black;
  color: black;
}
.nav-wrapper li a,
.nav-wrapper li i {
  color: black;
  fill: black;
}
/* Categories */
#categories {
  display: flex;
  justify-content: center;
}

/* Categories */

/* header */

/* Line */
#line {
  width: 100%;
  height: 40px;
}
/* Line */

/* slider */
.container.principal {
  margin-bottom: 30px;
}
.slider .slides {
  height: 440px !important;
}
.slider .indicators {
  z-index: 10;
}
.slider .indicators .indicator-item {
  background-color: #ffff;
}
.slider .indicators .indicator-item.active {
  background-color: #64b5f6;
}
/* slider */

/* category */

#category {
  margin: 10px auto;
}

/* woman */
.background-image1 {
  background: url('../img/women.jpeg');
  background-size: cover;
  width: 100%;
  height: 450px;
  background-position: center;
  position: relative;
}
#category h2 {
  position: absolute;
  top: 100px;
  left: 100px;
  font-size: 6rem;
}
#category a {
  position: absolute;
  bottom: 160px;
  left: 182px;
  border: 1px solid;
  padding: 0 15px;
}
/* woman */

/* man */
.background-image2 {
  background: url('../img/man.jpeg');
  background-size: cover;
  width: 100%;
  height: 450px;
  background-position: center;
  position: relative;
}
#category h2.man {
  position: absolute;
  top: 100px;
  right: 100px;
  left: unset;
  font-size: 6rem;
}
#category a.man {
  position: absolute;
  bottom: 160px;
  right: 182px;
  left: unset;
  border: 1px solid;
  padding: 0 15px;
}
/* man */

/* children */
.background-image3 {
  background: url('../img/children.jpeg');
  background-size: cover;
  width: 100%;
  height: 450px;
  background-position: center;
  position: relative;
}
#category h2.children {
  position: absolute;
  top: 28%;
  right: 40%;
  left: unset;
  font-size: 6rem;
}
#category a.children {
  position: absolute;
  bottom: 25%;
  right: 45%;
  left: unset;
  border: 1px solid;
  padding: 0 15px;
}
/* children */


/* category */


/* subscribe */
#subscribe h3 {
  margin-bottom: 0;
}
#subscribe h5 {
  margin-top: 4px;
}

.file-field .btn {
  margin-right: 180px;
}
.file-field input.file-path {
  margin-left: 230px;
  display: inline-block;
  width: 300px;
}
/* subscribe */

/* footer  */
#footer {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 70px;
}
#footer .col {
  border-right: 1px solid #ccc;
}
#footer .col:last-child {
  border-right: none;
}
#footer .end-page {
  font-size: .7rem;
}

/* footer  */
