
/* header */
nav {
  box-shadow: none;
}
.brand-logo {
  background: url('../img/LaBodegaDePacho_Logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 192px;
}
.nav-wrapper span i {
  fill: black;
  color: black;
}
.nav-wrapper li a,
.nav-wrapper li i {
  color: black;
  fill: black;
}
.nav-wrapper li a:hover{
  background: none;
  color: rgba(0,0,0,.5);
}
.nav-wrapper li i:hover {
  fill: rgba(0,0,0,.9);
  color: rgba(0,0,0,.5);
}
#lente {
  display: flex;
  transition: display .5s;
}
#lente i {
  margin-right: 0;
}
#lente input:focus {
  border-color: #64b5f6;
}
#mobile-search {
  display: none;
  background-color: transparent;
  transition: display .5s;
  will-change: auto;
}
#search {
  cursor: auto;
}
#mobile-search .input-field label i {
  color: #000;
  fill: #000;
}
/* Categories */
#categories {
  display: flex;
  justify-content: center;
}
#categories li:hover {
  box-shadow: 0 1px 0 #000;
}
/* Categories */

/* header */

/* Line */
#line {
  width: 100%;
  height: 40px;
}
/* Line */

/* slider */
.container.principal {
  margin-bottom: 30px;
}
.slider .slides {
  height: 440px !important;
}
.slider .indicators {
  z-index: 10;
}
.slider .indicators .indicator-item {
  background-color: #ffff;
}
.slider .indicators .indicator-item.active {
  background-color: #64b5f6;
}
/* slider */

/* category */

#category {
  margin: 10px auto;
}

/* woman */
.background-image1 {
  background: url('../img/women.jpeg');
  background-size: cover;
  width: 100%;
  height: 450px;
  background-position: center;
  position: relative;
}
#category h2 {
  position: absolute;
  top: 100px;
  left: 100px;
  font-size: 6rem;
}
#category a {
  position: absolute;
  bottom: 160px;
  left: 182px;
  border: 1px solid;
  padding: 0 15px;
}
@media screen and (max-width: 510px) {
  #category h2 {
    top: 99px;
    left: 47px;
    font-size: 5rem;
  }
  #category a {
    left: 108px;
  }
}
/* woman */

/* man */
.background-image2 {
  background: url('../img/man.jpeg');
  background-size: cover;
  width: 100%;
  height: 450px;
  background-position: center;
  position: relative;
}
#category h2.man {
  position: absolute;
  top: 100px;
  right: 100px;
  left: unset;
  font-size: 6rem;
}
#category a.man {
  position: absolute;
  bottom: 160px;
  right: 182px;
  left: unset;
  border: 1px solid;
  padding: 0 15px;
}
@media screen and (max-width: 510px) {
  #category a.man {
    bottom: 195px;
    right: 115px;
  }
  #category h2.man {
    top: 67px;
    right: 15px;
    font-size: 5rem;
  }
}
/* man */

/* children */
.background-image3 {
  background: url('../img/children.jpeg');
  background-size: cover;
  width: 100%;
  height: 450px;
  background-position: center;
  position: relative;
}
#category h2.children {
  position: absolute;
  top: 28%;
  right: 40%;
  left: unset;
  font-size: 6rem;
}
#category a.children {
  position: absolute;
  bottom: 25%;
  right: 45%;
  left: unset;
  border: 1px solid;
  padding: 0 15px;
}
@media screen and (max-width: 510px) {
  #category h2.children {
    top: 30%;
    right: 20%;
  }
  #category a.children {
    bottom: 33%;
    right: 36%;
  }
}
/* children */


/* category */


/* subscribe */
#subscribe h3 {
  margin-bottom: 0;
}
#subscribe h5 {
  margin-top: 4px;
}
#subscribe input:focus {
  border-color: #64b5f6;
}
.file-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "input button"
}

.file-field .btn {
  padding: 0 50px;
  grid-area: button;
}
.file-field input.file-path {
  display: inline-block;
  width: 320px;
  grid-area: input;
}
@media screen and (max-width: 510px) {
  .file-field {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "input"
                         "button";
  }
  .file-field .btn {
    margin-right: 0;
    grid-area: button;
  }
  .file-field input.file-path {
    width: 100%;
    margin-left: 0;
    grid-area: input;
  }
}
/* subscribe */

/* footer  */
#footer {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 70px;
}
#footer .col {
  border-right: 1px solid #ccc;
}
#footer .col:last-child {
  border-right: none;
}
#footer .end-page {
  font-size: .7rem;
}

/* footer  */
