<!-- footer -->

<div id="footer">
  <div class="container">
    <div class="pagination">
      <div class="row">
        <div class="col m3 center-align">
          <a href="#" class="grey-text">Sobre nosotros</a>
        </div>
        <div class="col m3 center-align">
          <a href="#" class="grey-text">Contacto</a>
        </div>
        <div class="col m3 center-align">
          <a href="#" class="grey-text">Promociones</a>
        </div>
        <div class="col m3 center-align">
          <a href="#" class="grey-text">Localización</a>
        </div>
      </div>
    </div>
  </div>
  <div class="end-page center-align">
    <span>LA BODEGA DE PACHO &copy; copyright</span>
  </div>
</div>

<!-- footer -->

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
